@model IEnumerable<TravelAgency_WebApp.Models.Country>

<div>
  <h2>Города туров</h2>
  <div>
    <table border="1">
      <thead>
        <tr>
          <th>Название города</th>
          <th>Основной язык</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var country in Model)
        {
          <tr>
            <td>@country.Name_country</td>
            <td>@country.Main_Language</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
